---
import '@/styles/globals.css'
import Logo from '@/components/Logo.astro';
import { CarouselWrapper } from '@/components/ui/CarouselWrapper';
import { NavMenu } from '@/components/ui/NavMenu'

const items = [
  {
    "label": "INICIO",
    "href": "/home"
  },
  {
    "label": "SERVICIOS",
    "href": "#servicios"
  },
  {
    "label": "BLOG",
    "href": "/blog"
  },
  {
    "label": "GALERIA",
    "href": "/galeria"
  },
  {
    "label": "UBICACION",
    "href": "/ubicacion"
  },
  {
    "label": "CONTACTA",
    "href": "/contacta"
  },
]

const images = [
  {
    "path": "./images/Limpieza-facial-profunda.jpg",
    "alt": "TBD"
  },
  {
    "path": "./images/beauty-face-massage-56884.jpg",
    "alt": "TBD"
  },
  {
    "path": "./images/7eb0dcf310238450490b27502631cb48.jpg",
    "alt": "TBD"
  },
]
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
		<title>Estetica Derma</title>
	</head>
	<body>
    <main class="flex flex-col items-center">
      <section class="relative">
        <div class="opacity-60 w-full">
          <CarouselWrapper images={images} client:load />
        </div>
        <nav class="absolute top-[0.1rem] right-1/2 translate-x-1/2 translate-y-1/2 flex gap-28 mt-2">
          <Logo />
          <NavMenu items={items} client:load />
        </nav>
      </section>
      <section class="flex flex-col items-center px-10 mt-10">
        <h1 class="text-5xl font-haviland text-rose-300">Bienvenido a</h1>
        <h2 class="text-5xl font-thin mt-2">ESTETICA DERMA</h2>
        <hr class="w-1/2 h-1 my-8 bg-gray-200 border-0 rounded bg-gradient-to-r from-fuchsia-100 via-fuchsia-400 to-pink-700">
        <p class="mt-2 font-inter font-light">En Estética Derma encontrarás técnicas de terapia y bienestar. Masajes corporales, tratamientos faciales, manicuras, pedicuras, depilaciones, permanente de pestañas, todas nuestras técnicas basadas en estética de vanguardia. Realizamos tratamientos reductores con aparatologia de última tecnología. En nuestro centro encontrarás una amplia selección de tratamientos y productos de primera calidad, siempre adaptados a ti. Ven a Derma, relájate y déjate mimar.</p>
      </section>

      
    </main>

	</body>
</html>