---
interface Props {
  images: Image[]
}

interface Image {
  path: string
  alt: string
}

const { images } = Astro.props;
---
<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {
    images.map((image) => (
      <img class="w-96 h-56 hover:scale-150 hover:transition hover:duration-1000 duration-1000 shadow-lg rounded"src={image.path} alt={image.alt}>
    ))
  }
</div>